
body {
    height: 100%;
    background-color:  #f2f2f2 ;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 .7rem rgba(0, 0, 0, .5);
}


.body1 {
    height: 100%;
    background-image: url("../image/fondo.jpeg");
    padding: 10px;
    min-height: 500px;
}

.body2 {
    height: 100%;
    background-color: #a57373;
    padding: 10px;
    min-height: 500px;
}

.cover {
    padding: 0 1.5rem;
}

.form {
    margin:auto;
    margin-top:80px;
    max-width:480px;
    padding:40px;
    background:#eee;

}
.header {
    text-align:center;
    margin-bottom:20px;
}
.lock{
    font-size:100px;
}



/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;

    width: 100%;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}